@font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/Montserrat/Montserrat-Variable-Weight.ttf') format('truetype');
    font-weight: 500 700;
    font-style: normal;
}
@font-face {
    font-family: 'Fraunces';
    src: url('./assets/Fonts/Fraunces/Fraunces-Variable-Weight.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --color-green-500: hsl(158, 36%, 37%);
    --color-green-700: hsl(158, 42%, 18%);
    --color-black: hsl(212, 21%, 14%);
    --color-grey: hsl(228, 12%, 48%);
    --color-cream: hsl(30, 38%, 92%);
    --color-white: hsl(0, 0%, 100%);
    --color-link: hsl(228, 45%, 44%);
    --font-xxsm: 0.6875rem;
    --font-xsm: clamp(0.8125rem, 0.8125rem + 0.175vw, 0.95rem);
    --font-size-100: clamp(0.875rem, 0.5rem + 0.75vw, 1.15rem);
    --font-size-200: clamp(2rem, 1.125rem + 2.75vw, 2.75rem);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-cream);
}

h1,
.new-price {
    font-family: 'Fraunces', serif;
    font-size: var(--font-size-200);
}

p {
    font-size: var(--font-size-100);
}

.product-category,
.old-price {
    font-size: var(--font-xsm);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

.attribution p { font-size: var(--font-xxsm); }
.attribution a { color: var(--color-link); }